<!DOCTYPE html>
<html>
   <head>
      <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
      <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <link rel="icon" type="static/images/newapp-icon.png" href="newapp-icon.png">
      <title> AWS S3 and EC2 </title>
      <div style="padding-left: 29%; height: 2%; background-color: #DAD0CE;">
         <h1 style="padding-top: 2%;padding-left: 10%;">AWS - S3 and EC2</h1>
      </div>
   </head>
   <form id="display_tab" action="#" enctype="multipart/form-data" method="post">
     <input type="text" name="uname" placeholder="Username">
      <input type="text" name="psswrd" placeholder="Password">
      <div id="fileTab" style="padding-top: 3%;">
         <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
               <tr>
                 <th>
                 </th>
                 <th>
                 </th>
                  <th>
                     File Name
                  </th>
               </tr>
            </thead>
            <tbody>
               {%for filedocument in uploaded_files %}
               		<tr>
                      <td>
                        <input class="download_btn" type="submit" name={{filedocument['key']+'~~Download'}} value="Download">
                      </td>
                      <td>
                        <input class="delete_btn" type="submit" name={{filedocument['key']+'~~Delete'}} value="Delete">
                      </td>
               				<!-- <td>
               						<input type="checkbox" class="check_box" name="check" value={{filedocument['filename']}}~~{{filedocument['version_number']}}>
               				</td> -->
               				<td>
               						{{filedocument['key']}}
               				</td>
               		</tr>
               {%endfor%}
               </tbody>
         </table>
      </div>
   </form>
   <table  style="width: 100%; padding-top: 4%;">
      <tr>
         <td>
            <div>
               <form id="upload_form" action="/upload" method="POST" enctype="multipart/form-data">
                  <input type="text" name="uname" placeholder="Username">
                  <input type="text" name="psswrd" placeholder="Password">
                  <input type="file" name="file"  multiple>
                  <input id="upload_btn" type="submit" name="upload" value="Upload">
               </form>
            </div>
         </td>
      </tr>
   </table>
   <div style="padding-top: 8%;">
   </div>
   <script>
      $(document).ready(function() {

      		$('#example').DataTable( {
      				columnDefs: [ {
      						orderable: false,
      						className: 'select-checkbox',
      						targets:   0
      				} ],
      				select: {
      						style:'os',
      						selector:'td:first-child'
      				},
      				order: [[ 1, 'asc' ]]
      		} );
      });
   </script>
</html>
